@{
    ViewData["Title"] = "App Home";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to Our Website!</h1>
        <p class="lead">We provide top-notch services and products to meet your needs.</p>
        <hr class="my-4">
        <p>Explore our offerings and discover what we have to offer.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </div>
</div>